<html>
<body>

<h1>Python source code search</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Search for token</h2>

<form action="{{ url_for('index') }}" method="post">
<input type="text" name="token" />

<input type="submit" />
</form>

{% if token %}

{{ paths|length }} results found for <strong>{{ token }}</strong>.

<ul>
{% for path in paths %}
<li><a href="{{ url_for('open_file', path=path) }}">{{path}}</a></li>
{% endfor %}
</ul>
{% endif %}

<h2>Reindex</h2>

<form action="{{ url_for('reindex') }}" method="post">
<label for="gitignore">Honor .gitignore</label>
<input type="checkbox" id="gitignore" name="gitignore" value="true">

<input type="submit" />
</form>

<h2>Stats</h2>

{{ stats["files"] }} files and {{ stats["tokens"] }} tokens indexed.

</body>
</html>
