<!DOCTYPE html>
<html>
<body>

<h1>Desktop source code search <span style="font-size: 0.5em">(<a href="{{ url_for('close') }}" onclick="return confirm('Do you really want to close the application?')">close</a>)</span></h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Search for token</h2>

<form action="{{ url_for('index') }}" method="post">
<select name="groupname" required="required">
    {% for name in groupnames %}
      <option value="{{ name }}">{{ name }}</option>
    {% endfor %}
</select>
<input type="text" name="token" />
<select name="op" required="required">
  <option value="and" selected="selected">and</option>
  <option value="or">or</option>
</select>

<input type="submit" />
</form>

{% if token %}

{{ paths|length }} results found for <strong>{{ token }}</strong>.

<ul>
{% for path, freq in paths %}
<li><a href="{{ url_for('open_file', path=path) }}">{{path}}</a> [<a href="{{ url_for('view_file', path=path) }}">raw</a>, <a href="{{ url_for('view_file_highlight', path=path) }}">html</a>] ({{freq}})</li>
{% endfor %}
</ul>
{% endif %}

<h2>Reindex</h2>

<form action="{{ url_for('reindex') }}" method="post">
<label for="gitignore">Honor .gitignore</label>
<input type="checkbox" id="gitignore" name="gitignore" value="true" checked="checked">
<label for="partial">Modified only</label>
<input type="checkbox" id="partial" name="partial" value="true" checked="checked">
<input type="submit" />
</form>

<h2>Stats</h2>

{{ stats["files"] }} files and {{ stats["tokens"] }} tokens indexed.

<a href="{{ url_for('statistics') }}">More...</a>

</body>
</html>
