<!DOCTYPE html>
<html>
<body>

{% include "header.htm" %}

<h2>Search for text <span style="font-size: 0.5em;">({% if case_sensitive %}Case-sensitive{% else %}Case-insensitive{% endif %})</span></h2>

<form action="{{ url_for('index') }}" method="post">
<select name="groupname" required="required">
    {% for name in groupnames %}
      <option value="{{ name }}">{{ name }}</option>
    {% endfor %}
</select>
<select name="field" required="required">
  <option value="code" selected="selected">Code</option>
  <option value="text">Strings and comments</option>
</select>
<input type="text" name="text" />
<select name="op" required="required">
  <option value="and" selected="selected">and</option>
  <option value="or">or</option>
</select>
<label for="sortby">sort by:</label>
<select name="sortby" required="required">
  <option value="path" selected="selected">Path (asc)</option>
  <option value="freq">Frequency (desc)</option>
</select>
<input type="submit" />
</form>

{% if text %}

{{ paths|length }} results found for <strong>{{ text }}</strong>.

<ul>
{% for path, freq in paths %}
<li><a href="{{ url_for('open_file', path=path) }}">{{path}}</a> [<a href="{{ url_for('view_file', path=path) }}">raw</a>, <a href="{{ url_for('view_file_highlight', path=path) }}">html</a>] ({{freq}})</li>
{% endfor %}
</ul>
{% endif %}

<h2>Reindex</h2>

<form action="{{ url_for('reindex') }}" method="post">
<label for="gitignore">Honor .gitignore</label>
<input type="checkbox" id="gitignore" name="gitignore" value="true" checked="checked" />
<span>&nbsp;</span>
<label for="case_sensitive_code">Case-sensitive (code)</label>
<input type="checkbox" id="case_sensitive_code" name="case_sensitive_code" value="true"{% if config["code"]["case-sensitive"] %} checked="checked"{% endif %} />
<span>&nbsp;</span>
<label for="case_sensitive_text">Case-sensitive (text)</label>
<input type="checkbox" id="case_sensitive_text" name="case_sensitive_text" value="true"{% if config["text"]["case-sensitive"] %} checked="checked"{% endif %} />
<span>&nbsp;</span>
<label for="partial">Modified only</label>
<input type="checkbox" id="partial" name="partial" value="true" checked="checked" />
<input type="submit" />
</form>

<h2>Stats</h2>

{{ stats["files"] }} files and {{ stats["tokens"] }} tokens indexed.

<a href="{{ url_for('statistics') }}">More...</a>

</body>
</html>
